/* Media Queries */

@media only screen and (max-width: 600px) {
  #signUp {
    margin: 50px 0px;
  }
}
@media only screen and (min-width: 601px) {
  #signUp {
    margin-bottom: 0px;
  }
}

/* Regular CSS Code */


body {
  font-family: 'Volkhov', sans-serif;
  background-image: url('./sheetmusic0.jpg');
  background-size: cover;
}

.backgroundDiv {
  height: 175px;
}

#websiteTitle, #welcome {
  margin-top: 30px;
  background-color: white;
  border: 3px solid rgb(0,45,255);
  border-radius: 15px;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 #signUp .input-field input[type=text]:focus + label, #yourSELF .input-field input[type=text]:focus + label {
   color: rgb(201,151,0);
 }

 #login .input-field input[type=text]:focus + label, #yourSKILLS .input-field input[type=text]:focus + label {
   color: green;
 }

 /* label underline focus color */
 #signUp .input-field input[type=text]:focus, #yourSELF .input-field input[type=text]:focus {
   border-bottom: 1px solid rgb(201,151,0);
   box-shadow: 0 1px 0 0 rgb(201,151,0);
 }
 #login .input-field input[type=text]:focus, #yourSKILLS .input-field input[type=text]:focus {
   border-bottom: 1px solid green;
   box-shadow: 0 1px 0 0 green;
 }
 /* valid color */
 #signUp .input-field input[type=text].valid, #yourSELF .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 #login .input-field input[type=text].valid, #yourSKILLS .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }


/* Here is the division between user name and password */


 /* label focus color */
 #signUp .input-field input[type=password]:focus + label, #yourSELF .input-field input[type=password]:focus + label {
   color: rgb(201,151,0);
 }

 #login .input-field input[type=password]:focus + label, #yourSKILLS .input-field input[type=password]:focus + label {
   color: green;
 }

 /* label underline focus color */
 #signUp .input-field input[type=password]:focus, #yourSELF .input-field input[type=password]:focus {
   border-bottom: 1px solid rgb(201,151,0);
   box-shadow: 0 1px 0 0 rgb(201,151,0);
 }
 #login .input-field input[type=password]:focus, #yourSKILLS .input-field input[type=password]:focus {
   border-bottom: 1px solid green;
   box-shadow: 0 1px 0 0 green;
 }
 /* valid color */
 #signUp .input-field input[type=password].valid, #yourSELF .input-field input[type=password].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 #login .input-field input[type=password].valid, #yourSKILLS .input-field input[type=password].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }



 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }

 /* icon prefix focus color */
 #signUp .input-field .prefix.active {
   color: rgb(201,151,0);
 }
 #login .input-field .prefix.active {
   color: green;
 }


#signUp, #login {
  background-color: white;
  height: 390px;
  border-radius: 15px;
  padding-top: 5%;
}

#signUp, #instructions1, #yourSELF, #meetingTimes {
  border: 3px solid rgb(201,151,0);
}

#login, #instructions2, #yourSKILLS, #desiredSkills {
  border: 3px solid green;
}

.btn {
  width: 30%;
  font-family: 'Volkhov', sans-serif !important;
}

#signUp .btn {
  background-color: rgb(201,151,0);
}

#login .btn {
  background-color: green;
}

li.navchoice:hover {
  background-color: rgba(201,151,0,0.5);
}

a.userButton {
  background-color: white;
  margin-top: 85px;
  border: 3px solid rgb(0,45,255);
  border-radius: 50px;
}

a.userButton i {
  padding-top: 7%;
  font-size: 5vw !important;
  color: rgb(0,45,255);
}

#instructions1, #instructions2, #meetingTimes, #desiredSkills {
  padding: 2% 0% 5% 0%;
  background-color: white;
  border-radius: 15px;
}

.explanationText {
  padding: 0% 5%;
}

#home {
  margin-left: 15%;
}

.dropdown-content li>span {
  color: black;
  font-family: 'Volkhov', sans-serif;
}

#yourSELF, #yourSKILLS {
  margin-bottom: 50px;
  background-color: white;
  border-radius: 15px;
  padding-top: 5%;
}

#yourSELF {
  height: 450px;
}

.skill {
  font-size: 40px;
}

.music-skill {
  display:block;
}

/* This is at the very beginning, mind you */

#no1 {
  display: block;
}

#no2, #no3, #no4, #no5, #no6, #no7, #no8, #no9, #no10 {
  display: none;
}
